<aside class="flex flex-col items-center w-64 h-full overflow-hidden text-gray-400 bg-gray-900">

  <ul class="flex flex-col justify-between w-64 h-full text-xl">
    <li>
      <a routerLink="" routerLinkActive="active">
        <img
          src="https://static.vecteezy.com/system/resources/previews/027/127/526/large_2x/pokemon-logo-pokemon-icon-transparent-free-png.png"
          alt="Logo Pokedex" class="object-contain" />
      </a>
    </li>

    @if (isLoggedIn) {
    <div>
      <li>
        <a routerLink="/profile" routerLinkActive="active"
          class="flex justify-center items-center cursor-pointer hover:text-white hover:bg-gray-400 p-4 gap-2">
          <img src="{{ image() }}" alt="profile" class="w-10 h-10 rounded-full" />
            <span>{{ firstName() }}</span>
            <span>{{ lastName() }}</span>
        </a>
      </li>
      <li>
        <a (click)="logout()"
          class="flex justify-between items-center cursor-pointer hover:text-white hover:bg-gray-400 p-4">
          <span>Logout</span>
          <span>▶</span>
        </a>
      </li>
    </div>
    } @else {
    <li>
      <a routerLink="/login" routerLinkActive="active"
        class="flex justify-between items-center cursor-pointer hover:text-white hover:bg-gray-400 p-4">
        <span>Login</span>
        <span>▶</span>
      </a>
    </li>
    }
  </ul>


</aside>