<header class="flex items-center justify-center p-4 shadow-xl/30 bg-gray-800 text-white">
    <img src="https://th.bing.com/th/id/R.f8335abfc56c2a665ca700c0c24a68a5?rik=IvOeCCj8qR5u7g&pid=ImgRaw&r=0"
        alt="Logo Header" class="h-25 w-25">
    <h1 class="mx-2 text-6xl">My Pokemon</h1>
</header>

<div class="content grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4 my-2 p-4 text-white">
    <a routerLink="charizard">
        <article class="card flex flex-col items-center bg-gray-800 rounded-4xl py-6" tabindex="0">
            <p class="text-4xl text-white opacity-50">#6</p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="Charizard"
                class="card-picture flex flex-col items-center bg-gray-800-picture object-cover h-70 w-70">
            <h2 class="text-4xl font-[900] my-3">Charizard</h2>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Fire</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Flying</span>
            </div>
        </article>
    </a>

    <a routerLink="gengar">
        <article class="card flex flex-col items-center bg-gray-800 rounded-4xl py-6" tabindex="0">
            <p class="text-4xl text-white opacity-50">#94</p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/94.png" alt="Gengar"
                class="card-picture flex flex-col items-center bg-gray-800-picture object-cover h-70 w-60">
            <h2 class="text-4xl font-[900] my-3">Gengar</h2>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Ghost</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Poison</span>
            </div>
        </article>
    </a>

    <a routerLink="gardevoir">
        <article class="card flex flex-col items-center bg-gray-800 rounded-4xl py-6" tabindex="0">
            <p class="text-4xl text-white opacity-50">#282</p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/282.png" alt="Gardevoir"
                class="card-picture flex flex-col items-center bg-gray-800-picture object-cover h-70 w-60">
            <h2 class="text-4xl font-[900] my-3">Gardevoir</h2>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Psychic</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Fairy</span>
            </div>
        </article>
    </a>

    <a routerLink="salamence">
        <article class="card flex flex-col items-center bg-gray-800 rounded-4xl py-6" tabindex="0">
            <p class="text-4xl text-white opacity-50">#373</p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/373.png" alt="Salamence"
                class="card-picture flex flex-col items-center bg-gray-800-picture object-cover h-70 w-60">
            <h2 class="text-4xl font-[900] my-3">Salamence</h2>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Dragon</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Flying</span>
            </div>
        </article>
    </a>

    <a routerLink="groudon">
        <article class="card flex flex-col items-center bg-gray-800 rounded-4xl py-6" tabindex="0">
            <p class="text-4xl text-white opacity-50">#383</p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/383.png" alt="Groudon"
                class="card-picture flex flex-col items-center bg-gray-800-picture object-cover h-70 w-60">
            <h2 class="text-4xl font-[900] my-3">Groudon</h2>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Ground</span>
            </div>
        </article>
    </a>

    <a routerLink="dragopult">
        <article class="card flex flex-col items-center bg-gray-800 rounded-4xl py-6" tabindex="0">
            <p class="text-4xl text-white opacity-50">#887</p>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/887.png" alt="Dragapult"
                class="card-picture flex flex-col items-center bg-gray-800-picture object-cover h-70 w-60">
            <h2 class="text-4xl font-[900] my-3">Dragapult</h2>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Dragon</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Ghost</span>
            </div>
        </article>
    </a>
</div>
<router-outlet />