<div class="flex flex-col justify-center items-center text-white bg-gray-800 m-6 rounded-4xl">
    <div class="flex p-5">
        <div class="flex flex-col items-center gap-2">
            <p class="text-4xl text-white opacity-50">#282</p>
            <h1 class="text-6xl font-[900]">Gardevoir</h1>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Psychic</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Fairy</span>
            </div>
        </div>
        <a routerLink="" class="absolute right-12"><img
                src="https://static.vecteezy.com/system/resources/previews/000/568/450/original/home-icon-vector.jpg"
                class="w-10 rounded-full" /></a>
    </div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/282.png" class="w-100" />
    <div class="flex justify-around w-full my-6">
        <ul class="flex flex-col items-center gap-2">
            <h2 class="text-4xl font-bold underline">About</h2>
            <li class="text-xl">Height - 1.6 m</li>
            <li class="text-xl">Weight - 48.4 kg</li>
            <li class="text-xl">Abilities - Synchronize, Trace, Telepathy</li>
        </ul>
        <ul class="flex flex-col items-center gap-2">
            <h2 class="text-4xl font-bold underline">Base Stats</h2>
            <li class="text-xl">HP - 68</li>
            <li class="text-xl">Attack - 65</li>
            <li class="text-xl">Defense - 65</li>
            <li class="text-xl">Sp. ATK - 125</li>
            <li class="text-xl">Sp. Def - 115</li>
            <li class="text-xl">Speed - 80</li>
            <li class="text-xl">Total - 518</li>
        </ul>
    </div>
</div>
<router-outlet />