<div class="flex flex-col justify-center items-center text-white bg-gray-800 m-6 rounded-4xl">
    <div class="flex p-5">
        <div class="flex flex-col items-center gap-2">
            <p class="text-4xl text-white opacity-50">#887</p>
            <h1 class="text-6xl font-[900]">Dragopult</h1>
            <div class="flex gap-2">
                <span
                    class="primary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Dragon</span>
                <span
                    class="secondary-type my-2.5 px-2 rounded-full bg-[hsla(0,0%,100%,.2)] text-base text-white font-bold">Ghost</span>
            </div>
        </div>
        <a routerLink="" class="absolute right-12"><img
                src="https://static.vecteezy.com/system/resources/previews/000/568/450/original/home-icon-vector.jpg"
                class="w-10 rounded-full" /></a>
    </div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/887.png" class="w-100" />
    <div class="flex justify-around w-full my-6">
        <ul class="flex flex-col items-center gap-2">
            <h2 class="text-4xl font-bold underline">About</h2>
            <li class="text-xl">Height - 3.0 m</li>
            <li class="text-xl">Weight - 50.0 kg</li>
            <li class="text-xl">Abilities - Clear Body, Infiltrator , Cursed Body</li>
        </ul>
        <ul class="flex flex-col items-center gap-2">
            <h2 class="text-4xl font-bold underline">Base Stats</h2>
            <li class="text-xl">HP - 88</li>
            <li class="text-xl">Attack - 120</li>
            <li class="text-xl">Defense - 75</li>
            <li class="text-xl">Sp. ATK - 100</li>
            <li class="text-xl">Sp. Def - 75</li>
            <li class="text-xl">Speed - 142</li>
            <li class="text-xl">Total - 600</li>
        </ul>
    </div>
</div>
<router-outlet />